:root{
    --btn-color:#d63484;
    --glass-bg:linear-gradient(to left bottom,rgba(255, 255, 255, 0.075),rgba(255, 255, 255, 0.185));
}
body{
    color: whitesmoke;
    background-image: url(../img/sele.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-clip: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: padding-box;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.glass-btn{
    background: var(--glass-bg);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 5px;
}
.btn-color-lg{
    background-color: var(--btn-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    text-transform: capitalize;
}
.section{
    background-image: url(../img/sele.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-clip: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: padding-box;
}
.section.first .pp-tableCell{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.section.first .pp-tableCell .text{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 55px;
}
.section.first .pp-tableCell .text h1{
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 0;
}
.section.first .pp-tableCell .actions{
    width: 40%;
    margin-top: 10px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section.first .pp-tableCell .actions .glass-btn{
    cursor: pointer;
    width: 30%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.section.first .pp-tableCell .actions .glass-btn .g-btn-text{
    text-transform: capitalize;
}
.section.second .pp-tableCell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section.second .pp-tableCell .content{
    width: 60%;
}
.section.second .pp-tableCell .content .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.section.second .pp-tableCell .content .title h2{
    margin-bottom: 5px;
    font-weight: bold;
}
.section.second .pp-tableCell .content .icones{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.section.second .pp-tableCell .content .icones .icone{
    background: var(--glass-bg);
    backdrop-filter: blur(2px);
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section.second .pp-tableCell .content p{
    text-align: justify;
}
.section.second .pp-tableCell .content .action{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}