@media(max-width:800px){
    body::before{
        height: 250px;
        background-size: cover;
    }
    body main{
        width: 95%;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 100px;
        gap: 1em;
    }
    header .profil-resume{
        width: 100%;
        /* transform: translateY(-40px); */
        line-height: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        justify-content: center;
        align-items: center;
    }
    header .profil-resume h1{
        font-size: 1em;
    }
    header .profil-img{
        width: 200px;
        box-shadow: 5px 5px 2px 3px var(--text-title-color);
    }
    header .profil-resume .social-links{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1em;
    }
    body main::after{
        display: none;
    }
    body main section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    body main section h2,
    body main section .content{
        width: 100%;
    }
    body main section h2{
        font-size: 1.3em;
        padding: 5px;
    }
}
    